.auth_page_con {
  width: 100%;
  height: calc(100vh - 110px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 100px;
  background-color: #f14875ee;

  .input_con {
    .input_text_con {
      margin: 20px;
      h2 {
        text-align: center;
        font-size: 30px;
        color: #fff;
        margin: 0;
      }

      p {
        margin-top: 5px;
        text-align: center;
        font-size: 15px;
        color: #fff;
      }
    }

    .form_con {
      label {
        font-size: 13px;
        display: block;
        margin-bottom: 5px;
        color: rgb(31, 30, 30);
      }
      input {
        height: 40px;
        outline: none;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 15px;
      }
    }
    .submit_btn {
      display: block;
      outline: none;
      margin-top: 20px;
      margin-left: 25%;
      border-radius: 5px;
      border: none;
      padding: 10px;
      font-size: 15px;
      margin-bottom: 20px;

      .submit_btn:hover {
        background-color: #f14875ee;
      }

      .submit_btn:focus {
        background-color: #f14875ee;
      }
    }

    .otp_not_sent {
      margin-left: 10%;
      text-decoration: none;
      text-align: center;
      font-size: 15px;
      color: #ccc;
    }
  }
}
