.card1-container {
  margin: 10px;
  max-width: 20rem;
  min-width: 9rem;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 2px 1px 2px 0px #2a2a2b4d;
  border-radius: 5%;
  border: 0.002px solid rgba(39, 106, 251, 0.1);
  padding: 0.5rem;
  cursor: pointer;

  .card1-wrap {
    display: flex;
    flex-direction: column;

    .card1-details {
      display: flex;
      flex-direction: row;
      padding: auto;
      justify-content: center;
      align-items: center;

      .card-hospital-details {
        flex-basis: 60%;
        margin-bottom: 15px;

        :first-child {
          font-family: 'sans-serif';
          font-size: 18px;
          line-height: 32px;
          font-weight: bold;
        }

        :nth-child(2) {
          display: flex;
          font-size: 13px;

          :first-child {
            font-size: 20px;
            margin-right: 5px;
            color: #f00946;
          }
        }
      }

      .card1-image {
        flex-basis: 38%;

        .card1-image-container {
          width: 95%;

          img {
            display: inline-block;
            vertical-align: center;
            max-width: 100%;
          }
        }
      }
    }

    .card1-blood-availaible {
      display: flex;
      flex-direction: column;

      ::-webkit-scrollbar {
        height: 5px;

        &:hover {
          display: block;
        }
      }

      ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 5px grey;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 10px;

        &:hover {
          background: rgba(0, 0, 0, 0.4);
        }
      }

      ::-webkit-scrollbar-track {
        margin-right: 10px;
      }

      .card1-label {
        font-family: serif;
        font-size: 16px;
        font-weight: 550;
        color: #225fab;
      }

      .bloodAvalaibilityCards {
        display: flex;
        overflow: auto;
        white-space: nowrap;
      }
    }
  }
}

@media screen and (max-width: 968px) {
  .card1-container {
    width: 90%;
    max-width: 18rem;
    min-width: 9rem;
  }
}
