.Slideshow {
    height: 90vh;
    width: 100%;

    .Slideshow-component {
        white-space: nowrap;
        transition: ease 1000ms;

        .fade {
            display: inline-block;
            height: 90vh;
            max-width: 100%;
            margin: auto;

             img {
                display: inline-block;
                vertical-align: center;
                max-width: 100%;
                width: 100%;
                height: 90vh;
            }

        }
        
    }
}