.TextBox1 {
    width: 200px;
    text-align: center;
    font-size: 15px;
    font-family: serif;
    color: rgba(255,255,255,0.9);
    display: flex;
    padding-right: 10px;
    padding-bottom: 10px;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    border-right: 0.2px solid rgba(255,255,255,0.5);
    border-bottom: 0.2px solid rgba(255,255,255,0.5);
    border-bottom-right-radius: 5px;
    margin-bottom: 5px;

    :first-child {
        margin-right: 10px;
    }

    :nth-child(2) {
        font-size: 14px;
    }
}